/! Row with editor
div class="row-fluid"
  div class="span1" id="editorcontrols"
    input class="roundbutton redbutton" type="button" value="NO!" id="noBtn"
    input class="roundbutton orangebutton" type="button" value="Skip" id="skipBtn"
    input class="roundbutton greenbutton" type="button" value="YES!" id="yesBtn"
  div class="span6" id="code"
    textarea id="editor" cols="50" rows="10"
      | # Click a bubble below to add its test code here
  div class="span5"
  
/! Container for the search controls and charts
div class="row"
  div class="span1"
    input class="roundbutton greenbutton" type="button" value="Play" id="playBtn"
    input class="roundbutton orangebutton" type="button" value="Pause" id="pauseBtn"
    input class="roundbutton redbutton" type="button" value="Stop" id="stopBtn"
  div class="span11"
    div class="container" id="scatterplot"
    div class="container" id="scatterplot2"

/! --------------------------------------------------------------
/! -- Include files needed by CodeMirror (CM)
/! --------------------------------------------------------------
link rel="stylesheet" href="js/codemirror/lib/codemirror.css"
script src="js/codemirror/lib/codemirror.js"

/! CM utils that you use:
script src="js/codemirror/lib/util/loadmode.js"

/! CM modes that you use:
script src="js/codemirror/mode/ruby/ruby.js"

/! CM themes that you use:
link rel="stylesheet" href="js/codemirror/theme/lesser-dark.css"

script src="js/d3.v3.min.js"
script src="js/colorbrewer.js"
script src="js/coffee-script.js"
script src="coffee/d3graph.js"
script src="coffee/updating_scatterplot.js"
script type="text/coffeescript"
  | root = exports ? window

    capitalizeFirstChar = (s) -> s.charAt(0).toUpperCase() + s.slice(1)

    # This will be set to the datum which is currently being edited in the
    # CodeMirror window, if any.
    root.edited_datum = null

    # This will be set to an array of the orig lines whenever a new datum is
    # added to the editor window. Needed in gutter click handler if user wants
    # to go back to orig state for a line.
    root.orig_lines = null

    # Strip leading comment char and any trailing spaces from line.
    strip_leading_ruby_comment_marker = (line) ->
      matched = line.match /^(\s+)#(\s+)(.+)$/
      if matched == null
        line
      else
        # We include the leading spaces and the rest of the string after the
        # hash char and the space after it.
        matched[1] + matched[3]

    # Handler for gutter clicks. If the line is a Ruby comment, i.e. a line
    # with leading space followed by the comment hash "#" that char and any
    # following spaces will be stripped away. This turns the line into
    # Ruby code. This is a simple way for the back-end to propose asserts
    # for tests etc.
    gutter_click_handler = (codemirror, lineNumber, gutter, clickEvent) ->
      line = codemirror.getLine(lineNumber)
      orig_line = root.orig_lines[lineNumber]
      #console.log( "gutter click on line " + lineNumber + ": " + line + "\nThis line was originally: " + orig_line)
      if line == orig_line
        codemirror.setLine lineNumber, strip_leading_ruby_comment_marker(line)
      else
        codemirror.setLine lineNumber, orig_line

    root.editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
      lineNumbers:  true,
      mode:         "ruby",
      theme:        "lesser-dark",
      height:       100
      gutterClick:  gutter_click_handler
    })
    root.editor.setSize(500, 250)
    # Does not seem to be enough to set the click handler as an option above...
    root.editor.on("gutterClick", gutter_click_handler)
    root.editor.refresh()

    root.tests = []
    root.tests.push ["it '...describe test...' do\n  s = Stack.new\n  s.push 0 # => [0]\n  # s.count.must_equal 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 1 # => [1]\n  # s.count.must_equal 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 2 # => [2]\n  # s.count.must_equal 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 3 # => [3]\n  # s.count.must_equal 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 4 # => [4]\n  # s.count.must_equal 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 5 # => [5]\n  # s.count.must_equal 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 6 # => [6]\n  # s.count.must_equal 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 7 # => [7]\n  # s.count.must_equal 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 8 # => [8]\n  # s.count.must_equal 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 9 # => [9]\n  # s.count.must_equal 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 10 # => [10]\n  # s.count.must_equal 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 11 # => [11]\n  # s.count.must_equal 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 12 # => [12]\n  # s.count.must_equal 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 13 # => [13]\n  # s.count.must_equal 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 14 # => [14]\n  # s.count.must_equal 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 15 # => [15]\n  # s.count.must_equal 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 16 # => [16]\n  # s.count.must_equal 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 17 # => [17]\n  # s.count.must_equal 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 18 # => [18]\n  # s.count.must_equal 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 19 # => [19]\n  # s.count.must_equal 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 20 # => [20]\n  # s.count.must_equal 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 21 # => [21]\n  # s.count.must_equal 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 22 # => [22]\n  # s.count.must_equal 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 23 # => [23]\n  # s.count.must_equal 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 24 # => [24]\n  # s.count.must_equal 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 25 # => [25]\n  # s.count.must_equal 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 26 # => [26]\n  # s.count.must_equal 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 27 # => [27]\n  # s.count.must_equal 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 28 # => [28]\n  # s.count.must_equal 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 29 # => [29]\n  # s.count.must_equal 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 30 # => [30]\n  # s.count.must_equal 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push \"a\" # => [\"a\"]\n  # s.count.must_equal 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push \"b\" # => [\"b\"]\n  # s.count.must_equal 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push \"c\" # => [\"c\"]\n  # s.count.must_equal 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push \"d\" # => [\"d\"]\n  # s.count.must_equal 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push \"e\" # => [\"e\"]\n  # s.count.must_equal 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push \"f\" # => [\"f\"]\n  # s.count.must_equal 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push \"g\" # => [\"g\"]\n  # s.count.must_equal 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push \"h\" # => [\"h\"]\n  # s.count.must_equal 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push \"i\" # => [\"i\"]\n  # s.count.must_equal 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push \"j\" # => [\"j\"]\n  # s.count.must_equal 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push \"k\" # => [\"k\"]\n  # s.count.must_equal 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push \"l\" # => [\"l\"]\n  # s.count.must_equal 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push \"m\" # => [\"m\"]\n  # s.count.must_equal 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push \"n\" # => [\"n\"]\n  # s.count.must_equal 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push \"o\" # => [\"o\"]\n  # s.count.must_equal 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push \"p\" # => [\"p\"]\n  # s.count.must_equal 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push \"q\" # => [\"q\"]\n  # s.count.must_equal 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push \"r\" # => [\"r\"]\n  # s.count.must_equal 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push \"s\" # => [\"s\"]\n  # s.count.must_equal 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push \"t\" # => [\"t\"]\n  # s.count.must_equal 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push \"u\" # => [\"u\"]\n  # s.count.must_equal 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push \"v\" # => [\"v\"]\n  # s.count.must_equal 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push \"w\" # => [\"w\"]\n  # s.count.must_equal 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push \"x\" # => [\"x\"]\n  # s.count.must_equal 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push \"y\" # => [\"y\"]\n  # s.count.must_equal 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push \"z\" # => [\"z\"]\n  # s.count.must_equal 1\nend"]
    root.tests.push ["it '...describe test...' do\n  s = Stack.new\n  s.push 1 # => [1]\n  # s.count.must_equal 1\n  s.push 3 # => [1, 3]\n  # s.count.must_equal 2\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 9 # => [9]\n  # s.count.must_equal 1\n  s.push 9 # => [9, 9]\n  # s.count.must_equal 2\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 9 # => [9]\n  # s.count.must_equal 1\n  s.push 8 # => [9, 8]\n  # s.count.must_equal 2\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 3 # => [3]\n  # s.count.must_equal 1\n  s.push 7 # => [3, 7]\n  # s.count.must_equal 2\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 0 # => [0]\n  # s.count.must_equal 1\n  s.push 9 # => [0, 9]\n  # s.count.must_equal 2\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 5 # => [5]\n  # s.count.must_equal 1\n  s.push 4 # => [5, 4]\n  # s.count.must_equal 2\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 8 # => [8]\n  # s.count.must_equal 1\n  s.push 5 # => [8, 5]\n  # s.count.must_equal 2\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 9 # => [9]\n  # s.count.must_equal 1\n  s.push 2 # => [9, 2]\n  # s.count.must_equal 2\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 6 # => [6]\n  # s.count.must_equal 1\n  s.push 8 # => [6, 8]\n  # s.count.must_equal 2\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 6 # => [6]\n  # s.count.must_equal 1\n  s.push 6 # => [6, 6]\n  # s.count.must_equal 2\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 5 # => [5]\n  # s.count.must_equal 1\n  s.push 6 # => [5, 6]\n  # s.count.must_equal 2\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 8 # => [8]\n  # s.count.must_equal 1\n  s.push 9 # => [8, 9]\n  # s.count.must_equal 2\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 3 # => [3]\n  # s.count.must_equal 1\n  s.push 7 # => [3, 7]\n  # s.count.must_equal 2\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 1 # => [1]\n  # s.count.must_equal 1\n  s.push 3 # => [1, 3]\n  # s.count.must_equal 2\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 3 # => [3]\n  # s.count.must_equal 1\n  s.push 3 # => [3, 3]\n  # s.count.must_equal 2\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 5 # => [5]\n  # s.count.must_equal 1\n  s.push 2 # => [5, 2]\n  # s.count.must_equal 2\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 7 # => [7]\n  # s.count.must_equal 1\n  s.push 5 # => [7, 5]\n  # s.count.must_equal 2\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 1 # => [1]\n  # s.count.must_equal 1\n  s.push 5 # => [1, 5]\n  # s.count.must_equal 2\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 9 # => [9]\n  # s.count.must_equal 1\n  s.push 7 # => [9, 7]\n  # s.count.must_equal 2\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 9 # => [9]\n  # s.count.must_equal 1\n  s.push 5 # => [9, 5]\n  # s.count.must_equal 2\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 6 # => [6]\n  # s.count.must_equal 1\n  s.push 8 # => [6, 8]\n  # s.count.must_equal 2\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 4 # => [4]\n  # s.count.must_equal 1\n  s.push 2 # => [4, 2]\n  # s.count.must_equal 2\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 9 # => [9]\n  # s.count.must_equal 1\n  s.push 8 # => [9, 8]\n  # s.count.must_equal 2\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 9 # => [9]\n  # s.count.must_equal 1\n  s.push 6 # => [9, 6]\n  # s.count.must_equal 2\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 5 # => [5]\n  # s.count.must_equal 1\n  s.push 0 # => [5, 0]\n  # s.count.must_equal 2\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 7 # => [7]\n  # s.count.must_equal 1\n  s.push 9 # => [7, 9]\n  # s.count.must_equal 2\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 9 # => [9]\n  # s.count.must_equal 1\n  s.push 2 # => [9, 2]\n  # s.count.must_equal 2\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 1 # => [1]\n  # s.count.must_equal 1\n  s.push 9 # => [1, 9]\n  # s.count.must_equal 2\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 7 # => [7]\n  # s.count.must_equal 1\n  s.push 8 # => [7, 8]\n  # s.count.must_equal 2\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 6 # => [6]\n  # s.count.must_equal 1\n  s.push 7 # => [6, 7]\n  # s.count.must_equal 2\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 4 # => [4]\n  # s.count.must_equal 1\n  s.push 7 # => [4, 7]\n  # s.count.must_equal 2\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 6 # => [6]\n  # s.count.must_equal 1\n  s.push 5 # => [6, 5]\n  # s.count.must_equal 2\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 9 # => [9]\n  # s.count.must_equal 1\n  s.push 7 # => [9, 7]\n  # s.count.must_equal 2\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 0 # => [0]\n  # s.count.must_equal 1\n  s.push 9 # => [0, 9]\n  # s.count.must_equal 2\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 0 # => [0]\n  # s.count.must_equal 1\n  s.push 3 # => [0, 3]\n  # s.count.must_equal 2\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 0 # => [0]\n  # s.count.must_equal 1\n  s.push 1 # => [0, 1]\n  # s.count.must_equal 2\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 9 # => [9]\n  # s.count.must_equal 1\n  s.push 5 # => [9, 5]\n  # s.count.must_equal 2\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 1 # => [1]\n  # s.count.must_equal 1\n  s.push 5 # => [1, 5]\n  # s.count.must_equal 2\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 9 # => [9]\n  # s.count.must_equal 1\n  s.push 9 # => [9, 9]\n  # s.count.must_equal 2\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 9 # => [9]\n  # s.count.must_equal 1\n  s.push 5 # => [9, 5]\n  # s.count.must_equal 2\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 0 # => [0]\n  # s.count.must_equal 1\n  s.push 3 # => [0, 3]\n  # s.count.must_equal 2\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 8 # => [8]\n  # s.count.must_equal 1\n  s.push 8 # => [8, 8]\n  # s.count.must_equal 2\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 9 # => [9]\n  # s.count.must_equal 1\n  s.push 9 # => [9, 9]\n  # s.count.must_equal 2\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 4 # => [4]\n  # s.count.must_equal 1\n  s.push 6 # => [4, 6]\n  # s.count.must_equal 2\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 2 # => [2]\n  # s.count.must_equal 1\n  s.push 7 # => [2, 7]\n  # s.count.must_equal 2\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 2 # => [2]\n  # s.count.must_equal 1\n  s.push 8 # => [2, 8]\n  # s.count.must_equal 2\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 4 # => [4]\n  # s.count.must_equal 1\n  s.push 1 # => [4, 1]\n  # s.count.must_equal 2\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 1 # => [1]\n  # s.count.must_equal 1\n  s.push 2 # => [1, 2]\n  # s.count.must_equal 2\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 3 # => [3]\n  # s.count.must_equal 1\n  s.push 9 # => [3, 9]\n  # s.count.must_equal 2\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 8 # => [8]\n  # s.count.must_equal 1\n  s.push 4 # => [8, 4]\n  # s.count.must_equal 2\nend"]
    root.tests.push ["it '...describe test...' do\n  s = Stack.new\n  s.push 4 # => [4]\n  # s.count.must_equal 1\n  s.push 6 # => [4, 6]\n  # s.count.must_equal 2\n  s.pop # => 6\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 0 # => [0]\n  # s.count.must_equal 1\n  s.push 6 # => [0, 6]\n  # s.count.must_equal 2\n  s.pop # => 6\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 2 # => [2]\n  # s.count.must_equal 1\n  s.push 9 # => [2, 9]\n  # s.count.must_equal 2\n  s.pop # => 9\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 3 # => [3]\n  # s.count.must_equal 1\n  s.push 0 # => [3, 0]\n  # s.count.must_equal 2\n  s.pop # => 0\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 5 # => [5]\n  # s.count.must_equal 1\n  s.push 3 # => [5, 3]\n  # s.count.must_equal 2\n  s.pop # => 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 3 # => [3]\n  # s.count.must_equal 1\n  s.push 7 # => [3, 7]\n  # s.count.must_equal 2\n  s.pop # => 7\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 9 # => [9]\n  # s.count.must_equal 1\n  s.push 6 # => [9, 6]\n  # s.count.must_equal 2\n  s.pop # => 6\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 6 # => [6]\n  # s.count.must_equal 1\n  s.push 1 # => [6, 1]\n  # s.count.must_equal 2\n  s.pop # => 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 2 # => [2]\n  # s.count.must_equal 1\n  s.push 2 # => [2, 2]\n  # s.count.must_equal 2\n  s.pop # => 2\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 9 # => [9]\n  # s.count.must_equal 1\n  s.push 1 # => [9, 1]\n  # s.count.must_equal 2\n  s.pop # => 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 5 # => [5]\n  # s.count.must_equal 1\n  s.push 4 # => [5, 4]\n  # s.count.must_equal 2\n  s.pop # => 4\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 7 # => [7]\n  # s.count.must_equal 1\n  s.push 6 # => [7, 6]\n  # s.count.must_equal 2\n  s.pop # => 6\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 9 # => [9]\n  # s.count.must_equal 1\n  s.push 6 # => [9, 6]\n  # s.count.must_equal 2\n  s.pop # => 6\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 1 # => [1]\n  # s.count.must_equal 1\n  s.push 0 # => [1, 0]\n  # s.count.must_equal 2\n  s.pop # => 0\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 8 # => [8]\n  # s.count.must_equal 1\n  s.push 2 # => [8, 2]\n  # s.count.must_equal 2\n  s.pop # => 2\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 4 # => [4]\n  # s.count.must_equal 1\n  s.push 5 # => [4, 5]\n  # s.count.must_equal 2\n  s.pop # => 5\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 4 # => [4]\n  # s.count.must_equal 1\n  s.push 5 # => [4, 5]\n  # s.count.must_equal 2\n  s.pop # => 5\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 7 # => [7]\n  # s.count.must_equal 1\n  s.push 4 # => [7, 4]\n  # s.count.must_equal 2\n  s.pop # => 4\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 3 # => [3]\n  # s.count.must_equal 1\n  s.push 4 # => [3, 4]\n  # s.count.must_equal 2\n  s.pop # => 4\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 9 # => [9]\n  # s.count.must_equal 1\n  s.push 1 # => [9, 1]\n  # s.count.must_equal 2\n  s.pop # => 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 5 # => [5]\n  # s.count.must_equal 1\n  s.push 6 # => [5, 6]\n  # s.count.must_equal 2\n  s.pop # => 6\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 0 # => [0]\n  # s.count.must_equal 1\n  s.push 8 # => [0, 8]\n  # s.count.must_equal 2\n  s.pop # => 8\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 2 # => [2]\n  # s.count.must_equal 1\n  s.push 0 # => [2, 0]\n  # s.count.must_equal 2\n  s.pop # => 0\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 6 # => [6]\n  # s.count.must_equal 1\n  s.push 4 # => [6, 4]\n  # s.count.must_equal 2\n  s.pop # => 4\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 6 # => [6]\n  # s.count.must_equal 1\n  s.push 3 # => [6, 3]\n  # s.count.must_equal 2\n  s.pop # => 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 8 # => [8]\n  # s.count.must_equal 1\n  s.push 0 # => [8, 0]\n  # s.count.must_equal 2\n  s.pop # => 0\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 9 # => [9]\n  # s.count.must_equal 1\n  s.push 5 # => [9, 5]\n  # s.count.must_equal 2\n  s.pop # => 5\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 1 # => [1]\n  # s.count.must_equal 1\n  s.push 2 # => [1, 2]\n  # s.count.must_equal 2\n  s.pop # => 2\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 6 # => [6]\n  # s.count.must_equal 1\n  s.push 1 # => [6, 1]\n  # s.count.must_equal 2\n  s.pop # => 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 6 # => [6]\n  # s.count.must_equal 1\n  s.push 5 # => [6, 5]\n  # s.count.must_equal 2\n  s.pop # => 5\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 8 # => [8]\n  # s.count.must_equal 1\n  s.push 9 # => [8, 9]\n  # s.count.must_equal 2\n  s.pop # => 9\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 3 # => [3]\n  # s.count.must_equal 1\n  s.push 2 # => [3, 2]\n  # s.count.must_equal 2\n  s.pop # => 2\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 3 # => [3]\n  # s.count.must_equal 1\n  s.push 7 # => [3, 7]\n  # s.count.must_equal 2\n  s.pop # => 7\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 3 # => [3]\n  # s.count.must_equal 1\n  s.push 2 # => [3, 2]\n  # s.count.must_equal 2\n  s.pop # => 2\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 5 # => [5]\n  # s.count.must_equal 1\n  s.push 6 # => [5, 6]\n  # s.count.must_equal 2\n  s.pop # => 6\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 5 # => [5]\n  # s.count.must_equal 1\n  s.push 9 # => [5, 9]\n  # s.count.must_equal 2\n  s.pop # => 9\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 1 # => [1]\n  # s.count.must_equal 1\n  s.push 9 # => [1, 9]\n  # s.count.must_equal 2\n  s.pop # => 9\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 2 # => [2]\n  # s.count.must_equal 1\n  s.push 8 # => [2, 8]\n  # s.count.must_equal 2\n  s.pop # => 8\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 5 # => [5]\n  # s.count.must_equal 1\n  s.push 6 # => [5, 6]\n  # s.count.must_equal 2\n  s.pop # => 6\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 5 # => [5]\n  # s.count.must_equal 1\n  s.push 1 # => [5, 1]\n  # s.count.must_equal 2\n  s.pop # => 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 8 # => [8]\n  # s.count.must_equal 1\n  s.push 7 # => [8, 7]\n  # s.count.must_equal 2\n  s.pop # => 7\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 9 # => [9]\n  # s.count.must_equal 1\n  s.push 3 # => [9, 3]\n  # s.count.must_equal 2\n  s.pop # => 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 9 # => [9]\n  # s.count.must_equal 1\n  s.push 8 # => [9, 8]\n  # s.count.must_equal 2\n  s.pop # => 8\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 4 # => [4]\n  # s.count.must_equal 1\n  s.push 4 # => [4, 4]\n  # s.count.must_equal 2\n  s.pop # => 4\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 9 # => [9]\n  # s.count.must_equal 1\n  s.push 7 # => [9, 7]\n  # s.count.must_equal 2\n  s.pop # => 7\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 2 # => [2]\n  # s.count.must_equal 1\n  s.push 5 # => [2, 5]\n  # s.count.must_equal 2\n  s.pop # => 5\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 2 # => [2]\n  # s.count.must_equal 1\n  s.push 0 # => [2, 0]\n  # s.count.must_equal 2\n  s.pop # => 0\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 7 # => [7]\n  # s.count.must_equal 1\n  s.push 0 # => [7, 0]\n  # s.count.must_equal 2\n  s.pop # => 0\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 9 # => [9]\n  # s.count.must_equal 1\n  s.push 2 # => [9, 2]\n  # s.count.must_equal 2\n  s.pop # => 2\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 1 # => [1]\n  # s.count.must_equal 1\n  s.push 0 # => [1, 0]\n  # s.count.must_equal 2\n  s.pop # => 0\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 4 # => [4]\n  # s.count.must_equal 1\n  s.push 3 # => [4, 3]\n  # s.count.must_equal 2\n  s.push 1 # => [4, 3, 1]\n  # s.count.must_equal 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 2 # => [2]\n  # s.count.must_equal 1\n  s.push 7 # => [2, 7]\n  # s.count.must_equal 2\n  s.push 8 # => [2, 7, 8]\n  # s.count.must_equal 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 9 # => [9]\n  # s.count.must_equal 1\n  s.push 4 # => [9, 4]\n  # s.count.must_equal 2\n  s.push 1 # => [9, 4, 1]\n  # s.count.must_equal 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 5 # => [5]\n  # s.count.must_equal 1\n  s.push 2 # => [5, 2]\n  # s.count.must_equal 2\n  s.push 5 # => [5, 2, 5]\n  # s.count.must_equal 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 4 # => [4]\n  # s.count.must_equal 1\n  s.push 2 # => [4, 2]\n  # s.count.must_equal 2\n  s.push 4 # => [4, 2, 4]\n  # s.count.must_equal 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 6 # => [6]\n  # s.count.must_equal 1\n  s.push 7 # => [6, 7]\n  # s.count.must_equal 2\n  s.push 0 # => [6, 7, 0]\n  # s.count.must_equal 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 0 # => [0]\n  # s.count.must_equal 1\n  s.push 4 # => [0, 4]\n  # s.count.must_equal 2\n  s.push 5 # => [0, 4, 5]\n  # s.count.must_equal 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 1 # => [1]\n  # s.count.must_equal 1\n  s.push 4 # => [1, 4]\n  # s.count.must_equal 2\n  s.push 5 # => [1, 4, 5]\n  # s.count.must_equal 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 4 # => [4]\n  # s.count.must_equal 1\n  s.push 4 # => [4, 4]\n  # s.count.must_equal 2\n  s.push 9 # => [4, 4, 9]\n  # s.count.must_equal 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 5 # => [5]\n  # s.count.must_equal 1\n  s.push 9 # => [5, 9]\n  # s.count.must_equal 2\n  s.push 7 # => [5, 9, 7]\n  # s.count.must_equal 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 6 # => [6]\n  # s.count.must_equal 1\n  s.push 7 # => [6, 7]\n  # s.count.must_equal 2\n  s.push 9 # => [6, 7, 9]\n  # s.count.must_equal 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 5 # => [5]\n  # s.count.must_equal 1\n  s.push 9 # => [5, 9]\n  # s.count.must_equal 2\n  s.push 1 # => [5, 9, 1]\n  # s.count.must_equal 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 4 # => [4]\n  # s.count.must_equal 1\n  s.push 6 # => [4, 6]\n  # s.count.must_equal 2\n  s.push 3 # => [4, 6, 3]\n  # s.count.must_equal 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 8 # => [8]\n  # s.count.must_equal 1\n  s.push 2 # => [8, 2]\n  # s.count.must_equal 2\n  s.push 5 # => [8, 2, 5]\n  # s.count.must_equal 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 3 # => [3]\n  # s.count.must_equal 1\n  s.push 3 # => [3, 3]\n  # s.count.must_equal 2\n  s.push 9 # => [3, 3, 9]\n  # s.count.must_equal 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 1 # => [1]\n  # s.count.must_equal 1\n  s.push 4 # => [1, 4]\n  # s.count.must_equal 2\n  s.push 7 # => [1, 4, 7]\n  # s.count.must_equal 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 5 # => [5]\n  # s.count.must_equal 1\n  s.push 1 # => [5, 1]\n  # s.count.must_equal 2\n  s.push 3 # => [5, 1, 3]\n  # s.count.must_equal 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 1 # => [1]\n  # s.count.must_equal 1\n  s.push 6 # => [1, 6]\n  # s.count.must_equal 2\n  s.push 2 # => [1, 6, 2]\n  # s.count.must_equal 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 3 # => [3]\n  # s.count.must_equal 1\n  s.push 6 # => [3, 6]\n  # s.count.must_equal 2\n  s.push 1 # => [3, 6, 1]\n  # s.count.must_equal 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 9 # => [9]\n  # s.count.must_equal 1\n  s.push 3 # => [9, 3]\n  # s.count.must_equal 2\n  s.push 9 # => [9, 3, 9]\n  # s.count.must_equal 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 6 # => [6]\n  # s.count.must_equal 1\n  s.push 7 # => [6, 7]\n  # s.count.must_equal 2\n  s.push 5 # => [6, 7, 5]\n  # s.count.must_equal 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 6 # => [6]\n  # s.count.must_equal 1\n  s.push 6 # => [6, 6]\n  # s.count.must_equal 2\n  s.push 4 # => [6, 6, 4]\n  # s.count.must_equal 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 8 # => [8]\n  # s.count.must_equal 1\n  s.push 2 # => [8, 2]\n  # s.count.must_equal 2\n  s.push 5 # => [8, 2, 5]\n  # s.count.must_equal 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 0 # => [0]\n  # s.count.must_equal 1\n  s.push 5 # => [0, 5]\n  # s.count.must_equal 2\n  s.push 8 # => [0, 5, 8]\n  # s.count.must_equal 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 1 # => [1]\n  # s.count.must_equal 1\n  s.push 2 # => [1, 2]\n  # s.count.must_equal 2\n  s.push 1 # => [1, 2, 1]\n  # s.count.must_equal 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 2 # => [2]\n  # s.count.must_equal 1\n  s.push 6 # => [2, 6]\n  # s.count.must_equal 2\n  s.push 5 # => [2, 6, 5]\n  # s.count.must_equal 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 1 # => [1]\n  # s.count.must_equal 1\n  s.push 5 # => [1, 5]\n  # s.count.must_equal 2\n  s.push 3 # => [1, 5, 3]\n  # s.count.must_equal 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 2 # => [2]\n  # s.count.must_equal 1\n  s.push 0 # => [2, 0]\n  # s.count.must_equal 2\n  s.push 1 # => [2, 0, 1]\n  # s.count.must_equal 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 8 # => [8]\n  # s.count.must_equal 1\n  s.push 0 # => [8, 0]\n  # s.count.must_equal 2\n  s.push 3 # => [8, 0, 3]\n  # s.count.must_equal 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 9 # => [9]\n  # s.count.must_equal 1\n  s.push 4 # => [9, 4]\n  # s.count.must_equal 2\n  s.push 6 # => [9, 4, 6]\n  # s.count.must_equal 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 2 # => [2]\n  # s.count.must_equal 1\n  s.push 6 # => [2, 6]\n  # s.count.must_equal 2\n  s.push 5 # => [2, 6, 5]\n  # s.count.must_equal 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 4 # => [4]\n  # s.count.must_equal 1\n  s.push 2 # => [4, 2]\n  # s.count.must_equal 2\n  s.push 9 # => [4, 2, 9]\n  # s.count.must_equal 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 7 # => [7]\n  # s.count.must_equal 1\n  s.push 7 # => [7, 7]\n  # s.count.must_equal 2\n  s.push 6 # => [7, 7, 6]\n  # s.count.must_equal 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 4 # => [4]\n  # s.count.must_equal 1\n  s.push 6 # => [4, 6]\n  # s.count.must_equal 2\n  s.push 4 # => [4, 6, 4]\n  # s.count.must_equal 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 4 # => [4]\n  # s.count.must_equal 1\n  s.push 9 # => [4, 9]\n  # s.count.must_equal 2\n  s.push 6 # => [4, 9, 6]\n  # s.count.must_equal 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 9 # => [9]\n  # s.count.must_equal 1\n  s.push 8 # => [9, 8]\n  # s.count.must_equal 2\n  s.push 1 # => [9, 8, 1]\n  # s.count.must_equal 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 4 # => [4]\n  # s.count.must_equal 1\n  s.push 5 # => [4, 5]\n  # s.count.must_equal 2\n  s.push 4 # => [4, 5, 4]\n  # s.count.must_equal 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 4 # => [4]\n  # s.count.must_equal 1\n  s.push 5 # => [4, 5]\n  # s.count.must_equal 2\n  s.push 7 # => [4, 5, 7]\n  # s.count.must_equal 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 3 # => [3]\n  # s.count.must_equal 1\n  s.push 7 # => [3, 7]\n  # s.count.must_equal 2\n  s.push 5 # => [3, 7, 5]\n  # s.count.must_equal 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 5 # => [5]\n  # s.count.must_equal 1\n  s.push 3 # => [5, 3]\n  # s.count.must_equal 2\n  s.push 6 # => [5, 3, 6]\n  # s.count.must_equal 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 6 # => [6]\n  # s.count.must_equal 1\n  s.push 4 # => [6, 4]\n  # s.count.must_equal 2\n  s.push 3 # => [6, 4, 3]\n  # s.count.must_equal 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 4 # => [4]\n  # s.count.must_equal 1\n  s.push 6 # => [4, 6]\n  # s.count.must_equal 2\n  s.push 6 # => [4, 6, 6]\n  # s.count.must_equal 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 2 # => [2]\n  # s.count.must_equal 1\n  s.push 7 # => [2, 7]\n  # s.count.must_equal 2\n  s.push 4 # => [2, 7, 4]\n  # s.count.must_equal 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 7 # => [7]\n  # s.count.must_equal 1\n  s.push 7 # => [7, 7]\n  # s.count.must_equal 2\n  s.push 5 # => [7, 7, 5]\n  # s.count.must_equal 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 7 # => [7]\n  # s.count.must_equal 1\n  s.push 3 # => [7, 3]\n  # s.count.must_equal 2\n  s.push 4 # => [7, 3, 4]\n  # s.count.must_equal 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 6 # => [6]\n  # s.count.must_equal 1\n  s.push 8 # => [6, 8]\n  # s.count.must_equal 2\n  s.push 5 # => [6, 8, 5]\n  # s.count.must_equal 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 9 # => [9]\n  # s.count.must_equal 1\n  s.push 5 # => [9, 5]\n  # s.count.must_equal 2\n  s.push 2 # => [9, 5, 2]\n  # s.count.must_equal 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 8 # => [8]\n  # s.count.must_equal 1\n  s.push 3 # => [8, 3]\n  # s.count.must_equal 2\n  s.push 4 # => [8, 3, 4]\n  # s.count.must_equal 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 3 # => [3]\n  # s.count.must_equal 1\n  s.push 0 # => [3, 0]\n  # s.count.must_equal 2\n  s.push 6 # => [3, 0, 6]\n  # s.count.must_equal 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 5 # => [5]\n  # s.count.must_equal 1\n  s.push 9 # => [5, 9]\n  # s.count.must_equal 2\n  s.push 2 # => [5, 9, 2]\n  # s.count.must_equal 3\nend"]
    root.tests.push ["it '...describe test...' do\n  s = Stack.new\n  s.push 9 # => [9]\n  # s.count.must_equal 1\n  s.push 2 # => [9, 2]\n  # s.count.must_equal 2\n  s.push 1 # => [9, 2, 1]\n  # s.count.must_equal 3\n  s.pop # => 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 7 # => [7]\n  # s.count.must_equal 1\n  s.push 8 # => [7, 8]\n  # s.count.must_equal 2\n  s.push 1 # => [7, 8, 1]\n  # s.count.must_equal 3\n  s.pop # => 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 1 # => [1]\n  # s.count.must_equal 1\n  s.push 6 # => [1, 6]\n  # s.count.must_equal 2\n  s.push 0 # => [1, 6, 0]\n  # s.count.must_equal 3\n  s.pop # => 0\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 0 # => [0]\n  # s.count.must_equal 1\n  s.push 7 # => [0, 7]\n  # s.count.must_equal 2\n  s.push 3 # => [0, 7, 3]\n  # s.count.must_equal 3\n  s.pop # => 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 2 # => [2]\n  # s.count.must_equal 1\n  s.push 2 # => [2, 2]\n  # s.count.must_equal 2\n  s.push 6 # => [2, 2, 6]\n  # s.count.must_equal 3\n  s.pop # => 6\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 9 # => [9]\n  # s.count.must_equal 1\n  s.push 0 # => [9, 0]\n  # s.count.must_equal 2\n  s.push 9 # => [9, 0, 9]\n  # s.count.must_equal 3\n  s.pop # => 9\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 8 # => [8]\n  # s.count.must_equal 1\n  s.push 4 # => [8, 4]\n  # s.count.must_equal 2\n  s.push 2 # => [8, 4, 2]\n  # s.count.must_equal 3\n  s.pop # => 2\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 2 # => [2]\n  # s.count.must_equal 1\n  s.push 3 # => [2, 3]\n  # s.count.must_equal 2\n  s.push 9 # => [2, 3, 9]\n  # s.count.must_equal 3\n  s.pop # => 9\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 9 # => [9]\n  # s.count.must_equal 1\n  s.push 5 # => [9, 5]\n  # s.count.must_equal 2\n  s.push 0 # => [9, 5, 0]\n  # s.count.must_equal 3\n  s.pop # => 0\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 3 # => [3]\n  # s.count.must_equal 1\n  s.push 7 # => [3, 7]\n  # s.count.must_equal 2\n  s.push 2 # => [3, 7, 2]\n  # s.count.must_equal 3\n  s.pop # => 2\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 5 # => [5]\n  # s.count.must_equal 1\n  s.push 9 # => [5, 9]\n  # s.count.must_equal 2\n  s.push 3 # => [5, 9, 3]\n  # s.count.must_equal 3\n  s.pop # => 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 0 # => [0]\n  # s.count.must_equal 1\n  s.push 0 # => [0, 0]\n  # s.count.must_equal 2\n  s.push 9 # => [0, 0, 9]\n  # s.count.must_equal 3\n  s.pop # => 9\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 4 # => [4]\n  # s.count.must_equal 1\n  s.push 6 # => [4, 6]\n  # s.count.must_equal 2\n  s.push 3 # => [4, 6, 3]\n  # s.count.must_equal 3\n  s.pop # => 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 5 # => [5]\n  # s.count.must_equal 1\n  s.push 0 # => [5, 0]\n  # s.count.must_equal 2\n  s.push 1 # => [5, 0, 1]\n  # s.count.must_equal 3\n  s.pop # => 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 4 # => [4]\n  # s.count.must_equal 1\n  s.push 8 # => [4, 8]\n  # s.count.must_equal 2\n  s.push 5 # => [4, 8, 5]\n  # s.count.must_equal 3\n  s.pop # => 5\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 0 # => [0]\n  # s.count.must_equal 1\n  s.push 0 # => [0, 0]\n  # s.count.must_equal 2\n  s.push 6 # => [0, 0, 6]\n  # s.count.must_equal 3\n  s.pop # => 6\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 8 # => [8]\n  # s.count.must_equal 1\n  s.push 0 # => [8, 0]\n  # s.count.must_equal 2\n  s.push 1 # => [8, 0, 1]\n  # s.count.must_equal 3\n  s.pop # => 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 5 # => [5]\n  # s.count.must_equal 1\n  s.push 6 # => [5, 6]\n  # s.count.must_equal 2\n  s.push 5 # => [5, 6, 5]\n  # s.count.must_equal 3\n  s.pop # => 5\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 5 # => [5]\n  # s.count.must_equal 1\n  s.push 7 # => [5, 7]\n  # s.count.must_equal 2\n  s.push 9 # => [5, 7, 9]\n  # s.count.must_equal 3\n  s.pop # => 9\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 3 # => [3]\n  # s.count.must_equal 1\n  s.push 2 # => [3, 2]\n  # s.count.must_equal 2\n  s.push 7 # => [3, 2, 7]\n  # s.count.must_equal 3\n  s.pop # => 7\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 9 # => [9]\n  # s.count.must_equal 1\n  s.push 1 # => [9, 1]\n  # s.count.must_equal 2\n  s.push 5 # => [9, 1, 5]\n  # s.count.must_equal 3\n  s.pop # => 5\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 5 # => [5]\n  # s.count.must_equal 1\n  s.push 8 # => [5, 8]\n  # s.count.must_equal 2\n  s.push 1 # => [5, 8, 1]\n  # s.count.must_equal 3\n  s.pop # => 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 0 # => [0]\n  # s.count.must_equal 1\n  s.push 5 # => [0, 5]\n  # s.count.must_equal 2\n  s.push 5 # => [0, 5, 5]\n  # s.count.must_equal 3\n  s.pop # => 5\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 6 # => [6]\n  # s.count.must_equal 1\n  s.push 3 # => [6, 3]\n  # s.count.must_equal 2\n  s.push 3 # => [6, 3, 3]\n  # s.count.must_equal 3\n  s.pop # => 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 1 # => [1]\n  # s.count.must_equal 1\n  s.push 1 # => [1, 1]\n  # s.count.must_equal 2\n  s.push 5 # => [1, 1, 5]\n  # s.count.must_equal 3\n  s.pop # => 5\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 0 # => [0]\n  # s.count.must_equal 1\n  s.push 5 # => [0, 5]\n  # s.count.must_equal 2\n  s.push 3 # => [0, 5, 3]\n  # s.count.must_equal 3\n  s.pop # => 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 7 # => [7]\n  # s.count.must_equal 1\n  s.push 2 # => [7, 2]\n  # s.count.must_equal 2\n  s.push 3 # => [7, 2, 3]\n  # s.count.must_equal 3\n  s.pop # => 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 7 # => [7]\n  # s.count.must_equal 1\n  s.push 6 # => [7, 6]\n  # s.count.must_equal 2\n  s.push 3 # => [7, 6, 3]\n  # s.count.must_equal 3\n  s.pop # => 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 8 # => [8]\n  # s.count.must_equal 1\n  s.push 4 # => [8, 4]\n  # s.count.must_equal 2\n  s.push 4 # => [8, 4, 4]\n  # s.count.must_equal 3\n  s.pop # => 4\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 0 # => [0]\n  # s.count.must_equal 1\n  s.push 2 # => [0, 2]\n  # s.count.must_equal 2\n  s.push 6 # => [0, 2, 6]\n  # s.count.must_equal 3\n  s.pop # => 6\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 0 # => [0]\n  # s.count.must_equal 1\n  s.push 3 # => [0, 3]\n  # s.count.must_equal 2\n  s.push 8 # => [0, 3, 8]\n  # s.count.must_equal 3\n  s.pop # => 8\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 4 # => [4]\n  # s.count.must_equal 1\n  s.push 0 # => [4, 0]\n  # s.count.must_equal 2\n  s.push 7 # => [4, 0, 7]\n  # s.count.must_equal 3\n  s.pop # => 7\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 1 # => [1]\n  # s.count.must_equal 1\n  s.push 3 # => [1, 3]\n  # s.count.must_equal 2\n  s.push 1 # => [1, 3, 1]\n  # s.count.must_equal 3\n  s.pop # => 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 4 # => [4]\n  # s.count.must_equal 1\n  s.push 8 # => [4, 8]\n  # s.count.must_equal 2\n  s.push 1 # => [4, 8, 1]\n  # s.count.must_equal 3\n  s.pop # => 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 3 # => [3]\n  # s.count.must_equal 1\n  s.push 8 # => [3, 8]\n  # s.count.must_equal 2\n  s.push 2 # => [3, 8, 2]\n  # s.count.must_equal 3\n  s.pop # => 2\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 9 # => [9]\n  # s.count.must_equal 1\n  s.push 9 # => [9, 9]\n  # s.count.must_equal 2\n  s.push 5 # => [9, 9, 5]\n  # s.count.must_equal 3\n  s.pop # => 5\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 9 # => [9]\n  # s.count.must_equal 1\n  s.push 9 # => [9, 9]\n  # s.count.must_equal 2\n  s.push 5 # => [9, 9, 5]\n  # s.count.must_equal 3\n  s.pop # => 5\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 9 # => [9]\n  # s.count.must_equal 1\n  s.push 2 # => [9, 2]\n  # s.count.must_equal 2\n  s.push 4 # => [9, 2, 4]\n  # s.count.must_equal 3\n  s.pop # => 4\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 7 # => [7]\n  # s.count.must_equal 1\n  s.push 5 # => [7, 5]\n  # s.count.must_equal 2\n  s.push 0 # => [7, 5, 0]\n  # s.count.must_equal 3\n  s.pop # => 0\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 6 # => [6]\n  # s.count.must_equal 1\n  s.push 0 # => [6, 0]\n  # s.count.must_equal 2\n  s.push 6 # => [6, 0, 6]\n  # s.count.must_equal 3\n  s.pop # => 6\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 6 # => [6]\n  # s.count.must_equal 1\n  s.push 8 # => [6, 8]\n  # s.count.must_equal 2\n  s.push 8 # => [6, 8, 8]\n  # s.count.must_equal 3\n  s.pop # => 8\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 9 # => [9]\n  # s.count.must_equal 1\n  s.push 5 # => [9, 5]\n  # s.count.must_equal 2\n  s.push 1 # => [9, 5, 1]\n  # s.count.must_equal 3\n  s.pop # => 1\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 8 # => [8]\n  # s.count.must_equal 1\n  s.push 4 # => [8, 4]\n  # s.count.must_equal 2\n  s.push 6 # => [8, 4, 6]\n  # s.count.must_equal 3\n  s.pop # => 6\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 4 # => [4]\n  # s.count.must_equal 1\n  s.push 5 # => [4, 5]\n  # s.count.must_equal 2\n  s.push 0 # => [4, 5, 0]\n  # s.count.must_equal 3\n  s.pop # => 0\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 0 # => [0]\n  # s.count.must_equal 1\n  s.push 6 # => [0, 6]\n  # s.count.must_equal 2\n  s.push 6 # => [0, 6, 6]\n  # s.count.must_equal 3\n  s.pop # => 6\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 9 # => [9]\n  # s.count.must_equal 1\n  s.push 8 # => [9, 8]\n  # s.count.must_equal 2\n  s.push 9 # => [9, 8, 9]\n  # s.count.must_equal 3\n  s.pop # => 9\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 6 # => [6]\n  # s.count.must_equal 1\n  s.push 3 # => [6, 3]\n  # s.count.must_equal 2\n  s.push 8 # => [6, 3, 8]\n  # s.count.must_equal 3\n  s.pop # => 8\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 5 # => [5]\n  # s.count.must_equal 1\n  s.push 3 # => [5, 3]\n  # s.count.must_equal 2\n  s.push 0 # => [5, 3, 0]\n  # s.count.must_equal 3\n  s.pop # => 0\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 9 # => [9]\n  # s.count.must_equal 1\n  s.push 0 # => [9, 0]\n  # s.count.must_equal 2\n  s.push 3 # => [9, 0, 3]\n  # s.count.must_equal 3\n  s.pop # => 3\nend",
      "it '...describe test...' do\n  s = Stack.new\n  s.push 0 # => [0]\n  # s.count.must_equal 1\n  s.push 8 # => [0, 8]\n  # s.count.must_equal 2\n  s.push 7 # => [0, 8, 7]\n  # s.count.must_equal 3\n  s.pop # => 7\nend"]

    # Update the text area window when user clicks on data d.
    update_text_area_on_click = (d) ->
      root.edited_datum = d

      #console.log("clicked " + d.id + " from edit.slim")

      # String to be presented:
      #str = JSON.stringify(d.candidate, null, 2)

      tests_of_right_size = root.tests[Math.floor(d.subqs[0])-1]
      str = tests_of_right_size[Math.floor(Math.random() * tests_of_right_size.length)]

      # We add a fake line for now that can be converted to Ruby code by the gutter click handler
      #str = str + "\n  # [1].must_equal [1]"

      # Save all the orig lines of the string to be presented in case we do gutter clicks later
      root.orig_lines = str.split("\n")
      root.editor.setValue str

    g = new root.Swagr.UpdatingScatterplot "#scatterplot", '/data/optimization/archive.json', {
      width:            400
      height:           300
      left_pad:         50
      transition_time:  1500
      xfunc:            ((d) -> 
        x = d.subqs[0]
        console.log(x + " is NaN") if x == NaN
        x)
      yfunc:            ((d) -> d.subqs[1])
      colorvaluefunc:   ((d) -> d.qv)
      # "id", "qv", "qvd", "subqs", "candidate", "pos", "type"
      tooltipmapper:    ((d) ->
        if d.type == "specialist"
          s = d.type + " " + d.list_index + "."
        else
          s = d.type
        capitalizeFirstChar(s) + d.pos + "<br/>  <strong>Q</strong> = " + d.qvd.toPrecision(5) + 
          "%<br/>  <strong>SubQs</strong> = " + d.subqs[0].toPrecision(3) + ", " + d.subqs[1].toPrecision(3)
      )
      clickfunc:        update_text_area_on_click
    }
    g.start_updates()

    control_optimization = (urlEnding) ->
      url = "/data/optimization/controller/" + urlEnding + ".json"
      d3.json url, ((data, error) -> 
        console.log( "Changed mode to: " + urlEnding )
        null
      )

    $("#playBtn").click(() -> control_optimization "play")
    $("#pauseBtn").click(() -> control_optimization "pause")
    $("#stopBtn").click(() -> control_optimization "stop")