/! Row with editor
div class="row-fluid"
  div class="span8" id="srccode"
    textarea id="srceditor" cols="50" rows="10"
      | class Stack
          def initialize
            @s = []
          end
        
          def push(item)
            @s.push item
          end
        
          def pop
            @s.pop
          end
        
          def count
            @s.length
          end
        end

  div class="span4"
  
/! Container for the search controls and charts
div class="row"
  div class="span12"
    div class="container" id="overview"

/! --------------------------------------------------------------
/! -- Include files needed by CodeMirror (CM)
/! --------------------------------------------------------------
link rel="stylesheet" href="js/codemirror/lib/codemirror.css"
script src="js/codemirror/lib/codemirror.js"

/! CM utils that you use:
script src="js/codemirror/lib/util/loadmode.js"

/! CM modes that you use:
script src="js/codemirror/mode/ruby/ruby.js"

/! CM themes that you use:
link rel="stylesheet" href="js/codemirror/theme/lesser-dark.css"

script src="js/d3.v3.min.js"
script src="js/colorbrewer.js"
script src="js/coffee-script.js"
script src="coffee/d3graph.js"
script src="coffee/updating_scatterplot.js"
script type="text/coffeescript"
  | root = exports ? window

    root.srceditor = CodeMirror.fromTextArea(document.getElementById("srceditor"), {
      lineNumbers:  true,
      mode:         "ruby",
      theme:        "lesser-dark",
      height:       100
    })
    root.srceditor.setSize(600, 400)
    root.srceditor.refresh()
